@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn.primary {
    @apply shadow hover:opacity-80 transition-all cursor-pointer text-white bg-gradient-to-r from-cyan-500 to-blue-500 dark:focus:ring-cyan-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2;
  }

  .btn.secondary {
    @apply shadow hover:opacity-80 transition-all cursor-pointer text-white bg-gradient-to-r from-purple-500 to-pink-500 dark:focus:ring-purple-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2;
  }

  .btn.tertiary {
    @apply shadow hover:opacity-80 transition-all cursor-pointer text-white bg-gradient-to-br from-pink-500 to-orange-400 dark:focus:ring-pink-800 font-medium rounded-lg px-5 py-2.5 text-center me-2 mb-2;
  }

  .field-error {
    @apply text-red-500 text-sm mt-2;
  }
}

/* JSON Formatter */

.json-formatter-row {
  font-family: "Inter", sans-serif !important;
  margin-bottom: 8px !important;
}

.json-formatter-key {
  font-weight: bold;
}

.json-formatter-constructor-name {
  opacity: 0.4 !important;
}

.json-formatter-number {
  color: #ff045a !important;
  padding: 3px 8px !important;
  border-radius: 4px;
  background-color: #f4e2ff !important;
  display: inline-block !important;
  cursor: pointer !important;
  transition: all ease 0.1s;
}

.json-formatter-number:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  font-weight: bold;
}
